@model List<EmployeeDto>
@{
    ViewData["Title"] = "EmployeSalary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>





<div b-4cazk3bw56 class="card">
    <form asp-action="EmployeSalaryPost" method="post">
        <table id="employeesTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>E-Mail</th>
                    <th>Cinsiyet</th>
                    <th>Başlangıç Tarihi</th>
                    <th>Departman</th>
                    <th>Maaş İşlem</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.Gender</td>
                        <td>@item.StartedDate</td>
                        <td>@item.Departman.Name</td>

                        <td>
                            <a class="btn btn-warning" data-id="@item.Id" asp-controller="Salary" asp-action="SalaryEdit" asp-route-employeeId="@item.Id">Maaş İşlemleri</a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <label>Maaş Ayı</label>
            <select id="departmanList" class="form-control">
                <option value="1">Ocak</option>
                <option value="2">Şubat</option>
                <option value="3">Mart</option>
                <option value="4">Nisan</option>
                <option value="5">Mayıs</option>
                <option value="6">Haziran</option>
                <option value="7">Temmuz</option>
                <option value="8">Ağustos</option>
                <option value="9">Eylül</option>
                <option value="10">Ekim</option>
                <option value="11">Kasım</option>
                <option value="12">Aralık</option>
            </select>
        </div>
        <button type="submit" class="btn btn-outline-info">Maaş Hesapla</button>
    </form>
    <script>
        $(document).ready(function () {
            // form submit edildiğinde
            $('form').submit(function () {
                // seçilen ay değerini al
                var selectedMonth = $('#departmanList').val();

                // gizli input alanına ekle
                $('<input />').attr('type', 'hidden')
                    .attr('name', 'selectedMonth')
                    .attr('value', selectedMonth)
                    .appendTo('form');

                return true; // formun devam etmesine izin ver
            });
        });
    </script>
</div>
@section Scripts{
    <script src="~/js/employeeIndex.js" type="application/ecmascript"></script>
}





